/* Slider.css */

.SliderAndInput {
  border : 5px solid black;
  height : 75px;
  width : 150px;
}

.SliderSVG {
  height : 25px;
  width : 100%;
}

.SliderBack, .SliderFront {
  stroke : black;
  stroke-linecap : round;
}

.SliderBack {
  stroke-width : 5px;
}

.SliderFront {
  stroke-width : 12px;
}

.SliderInput {
  width : 4em;
}
