/* App.css */

.App {
  margin : 0;
  border : 0;
  padding : 0;

  display : grid;
  grid : "ControlPanel LogoSVG    TransitionController" 
         ".            ColorPanel TransitionController" 
         / 300px 500px;
}
