/* ControlPanel.css */

.ControlPanel {
  grid-area : ControlPanel;
  width : 250px;
  background : lightgrey;
  border-radius : 20px;
  margin-left : 0;
  margin-right : 0;
}

.RingC {
  margin-top : 1em;
  background : grey;
  border : black solid 2px;
  border-radius : 15px;
  display : grid;
  /*
   * The Dial has a viewbox set to preserve its aspect ratio.
   * keep the dial-row and dial-column the same height/width
   */
  grid : "Slider Dial"   75px
         "SInput DInput" 25px
         / 1fr   75px;
}

.RingCSlider {
  grid-area : Slider;
  align-self : center;
  height : 100%;
  width : 100%;
}
.RingCSliderInput {
  grid-area : SInput;
  justify-self : center;
  width : 4em;

}
.RingCDial {
  grid-area : Dial;
}
.RingCDialInput {
  grid-area : DInput;
  justify-self : center;
  width : 4em;
}
