/* ControlPanel.css */

.ControlPanel {
  grid-area : ControlPanel;
  width : 250px;
  background : lightgrey;
  border-radius : 20px;
  margin-left : 0;
  margin-right : 0;
}

.RingC {
  margin-top : 1em;
  background : grey;
  border : black solid 2px;
  border-radius : 15px;
  display : grid;
  /*
   * The Dial has a viewbox set to preserve its aspect ratio.
   * keep the dial-row and dial-column the same height/width
   */
  grid : "length  phase  freq"   75px
         "lengthI phaseI freqI" 25px
         / 1fr    75px   75px;
}

.RingCSliderLength {
  grid-area : length;
  align-self : center;
  height : 100%;
  width : 100%;
}
.RingCSliderLengthInput {
  grid-area : lengthI;
  justify-self : center;
  width : 4em;
}
.RingCDialPhase {
  grid-area : phase;
}
.RingCDialPhaseInput {
  grid-area : phaseI;
  justify-self : center;
  width : 4em;
}
.RingCDialFreq {
  grid-area : freq;
}
.RingCDialFreqInput {
  grid-area : freqI;
  justify-self : center;
  width : 4em;
}
.InputError {
  color : red;
}
