/* Dial.css */

.DialAndInput {
  width : 50px;
}

.DialCircle {
  stroke : black;
  stroke-width : 8%;
  fill : none;
}

.DialLine {
  stroke : black;
  stroke-width : 8%;
  stroke-linecap : round;
}
