/* Slider.css */

.SliderSVG {
  height : 100%;
  width : 100%;
}

.SliderBack, .SliderFront {
  stroke : black;
  stroke-linecap : round;
}

.SliderBack {
  stroke-width : 8%;
}

.SliderFront {
  stroke-width : 16%;
}
